* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 1em;
}

.game-wrapper {
    display: flex;
    padding: 7px;
}

.header,
.footer {
    background-color: #efefefdb;
}

.footer {
    padding: 1rem;
}

h1 {
    text-align: center;
    color: #737066;
    padding: 14px 0;
}

.info-wrapper {
    width: 73%;
    padding: 11px;
    margin: 0 auto;
}

li {
    font-size: 13px;
    margin-top: 15px;
}

.game-info-sec {
    background-color: rgb(241 241 241);
    width: 30%;
}

.dice-contain-sec {
    background-color: rgb(249 249 248);
    width: 40%;
}

.base-control {
    display: flex;
    justify-content: center;
}

.player-container  {
    text-align: center;
    padding: 1rem;
}
.wrapper {
    height: 325px;
    margin-right: 4px;
}

.game-play-score-status-sec {
    background-color: rgb(239 239 239);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-wrapper {
    background: #dede35;
    padding: 14px;
    text-align: center;
    font-size: 50px;
}

.img-dice {
    width: 100%;
    cursor: pointer;
}

.dice-wrapper {
    width: 49%;
    margin: 0 auto;
    margin-top: 6rem;
}

.status-wrapper {
    margin-top: 1em;
}

.status-wrapper span {

}

h2 {
    text-align: center;
    padding-top: 7px;
    color: white;
    font-size: 32px;
}

.btn-wrapper {
    padding: 4px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 11px 20px;
    margin-top: 27px;
    background: #239223cc;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background: #239223ad;
}

#winStatus {
    text-align: center;
    color: #65635e;
    margin-top: 10px;
    font-size: 15px;
}


/*old css for test*/

.show {
    display: flex;
}

.hide {
    display: none;
}


/*
.playing {
    background: white;
    padding: 1rem;
    border: 2px solid #fff;
    box-shadow: 0 4px 6px #ccc;
}*/

.winner {
    /*background: yellow;
    font-size: 3rem;
    padding: 2rem;*/
    border: 2px solid #fff;
    box-shadow: 0 4px 6px #ccc;
}