
* {
    margin: 0;
}

.ludo-wrapper {
    max-width: 500px;
    border: 1px solid #c3c3c3;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
}

.ludo-header,
.play-area,
.dice-container {
    margin-bottom: 1rem;
}

.play-area {
    display: flex;
}

.dice-container img{
    max-width: 90px;
    border: 1px solid #0b63c7;
}

.game-controls {
    
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.playing {
    background: white;
    padding: 1rem;
    border: 2px solid #fff;
    box-shadow: 0 4px 6px #ccc;
}

.winner {
    background: yellow;
    font-size: 3rem;
    padding: 2rem;
    border: 2px solid #fff;
    box-shadow: 0 4px 6px #ccc;
}